body {
	background: url(../img/libros3.png) no-repeat center center fixed;
    background-size: cover;
}

table, th, td {
  border: 3px solid black;
  background-color: white; 
}

.agregar {
	position: relative;
	text-align: left;
	top: 43px;
}

.titulo {
	text-align: center;
	font-weight: bold;
}