<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Libreria Virtual</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
	
	<div  class="panel-heading"><h3>Lista de Libros </h3></div>
		<table class="table">
			<thead>
				<tr>
					<th>ISBN</th>
					<th>TITULO</th>
					<th>AUTOR</th>
					<th>EDICION</th>
					<th>GENERO</th>
					<th>STOCK</th>
					<th>ACCIONES</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro:${libros}">
					<td th:text="${libro.isbn}"></td>
					<td th:text="${libro.titulo}"></td>
					<td th:text="${libro.autor}"></td>
					<td th:text="${libro.edicion}"></td>
					<td th:text="${libro.genero}"></td>
					<td th:text="${libro.stock}"></td>
					<td>
					<a class="btn btn-warning">Editar</a>
					<a class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>